<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Code/static/css/confirmation.css"/>
    <script src="https://kit.fontawesome.com/f962903e36.js" crossorigin="anonymous"></script>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/confirmation.css' %}">
    <!-- JS code and JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Confirmation</title>
</head>
<body onload="typeWriter()"> 
    <nav class="nav">
        <a href="./landingpage.html">MyCloudFTS</a>
    </nav>
    <main class="container">
        <h1 id="thanks"></h1>
        <br><br>
        <p>Your account has been created and your subscription has been approved. <br> A confirmation email has been sent to your inbox.</p>
        <a href="./userdash.html">
            <button >Proceed to your dashboard</button>
        </a>
    </main>
    
    <div class="bg-div">
        <div class="bg-1"></div>   
        <div class="bg-2"></div>
        <div class="bg-3"></div>
        <div class="bg-4"></div>
        <div class="bg-5"></div>
     </div> 
</body>
</html>

<script>
    var i=0;
    var txt="Thank you for subscribing!";
    var speed=50;

    function typeWriter(){
        if (i<txt.length){
            document.getElementById("thanks").innerHTML+=txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }

    const bg2 = document.querySelector(".bg-2");
    let lagX=50;

    document.addEventListener('mousemove', (event) =>{
        const x = ( event.clientX/window.innerWidth ) * 100;
        lagX += (x-lagX)*0.08;

        bg2.style.background = `radial-gradient(circle at ${lagX}% 100%,rgb(30, 148, 233) 0%, rgba(255, 255, 255, 0) 50%)`;
    });
</script>