<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Code/static/css/pricing.css"/>
    <title>Pricing</title>
</head>
<body>
    <nav class="nav">
        <a href="./landingpage.html">MyCloudFTS</a>
    </nav>
    
    <main class="container">
        <h1>Choose your plan</h1>
    
        <div class="silver">
            <h2>Silver</h2>
            <p>For personal use.</p>
            <h3>$0*</h3>            
            <p>*Free for 30 days. $10/month after trial period.</p>
            <label>
                <input class="check" type="radio" name="uo" id="uo0" value="0"/>
                Get started!
            </label>
        </div>
        <div class="gold">
            <h2>Gold</h2>
            <p>Perfect for teams of 2-3 professionals and suited for small-scale projects.</p>
            <h3>$20/month</h3>
            <label>
                <input class="check" type="radio" name="uo" id="uo1" value="1"/>
                Get started!
            </label>
        </div>
        <div class="platinum">
            <h2>Platinum</h2>
            <p>Optimal for business and large-scale projects that requires high volume file transfers.</p>
            <h3>$50/month</h3>
            <label>
                <input class="check" type="radio" name="uo" id="uo2" value="2"/>
                Get started!
            </label>
        </div>
        <a class="continue" href="./confirmation.html">
        <button class="continue-btn">Continue</button> 
        </a>
    </main>
</body>
</html>