<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Code/static/css/pricing.css"/>
    <title>Pricing</title>
</head>
<body>
    <nav class="nav">
        <a href="./landingpage.html">MyCloudFMI</a>
    </nav>
    
    <main class="container">
        <h1>Choose your plan</h1>
    
        <div class="silver">
            <h2>Silver</h2>
            <label>
                <input class="check" type="radio" name="uo" id="uo0" value="0"/>
                Choose this plan!
            </label>
        </div>
        <div class="gold">
            <h2>Gold</h2>
            <label>
                <input class="check" type="radio" name="uo" id="uo1" value="1"/>
                Choose this plan!
            </label>
        </div>
        <div class="platinum">
            <h2>Platinum</h2>
            <label>
                <input class="check" type="radio" name="uo" id="uo2" value="2"/>
                Choose this plan!
            </label>
        </div>
        <button class="continue-btn">Continue</button> 
    </main>
</body>
</html>