<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->

    <!-- 
    This is the style required to load the CSS when the django server is running.
    Comment out when needed. It's fine to leave both, just throws error in js console.
    -->
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <!-- 
    This is the style for when staticly editting the page.
    Comment out when needed. It's fine to leave both, just throws error in js console.
     -->
    <link rel="stylesheet" href="/Code/static/css/signup.css" />
    
    <!-- JS code and JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/signup.js' %}"></script>

    <title>Sign Up</title>
</head>
<body>
    <nav class="nav">
        <a href="./landingpage.html">MyCloudFTS</a>
    </nav>

    <div class="form-box">
        <h1>Create an account</h1>

        <form class="form" action="#">
                <!-- required somewhere in the html, security -->
                <!-- {% csrf_token %} -->

                <label for="firstname">First Name</label> 
                <input name="firstname" id="firstname" required> 

                <label for="lastname">Last Name</label> 
                <input name="lastname" id="lastname" required> 

                <label for="email">Email</label> 
                <input type="email" id="email" name="email" required> 

                <label for="password">Password</label> 
                <input type="password" id="password" name="password" required> 
        </form>

        <input type="checkbox" id="terms" name="terms" required> 
        <label class="terms" for="terms">I accept the terms and privacy policy</label><br>
        <a href="pricing.html">
            <button class="signup-btn" type="submit" id="signup-submit">Sign up</button>
        </a>
        <p class="signin">Already have an account?
            <a class="signin-link" href="login.html">Sign in</a>
        </p>        
        
     </div> 
</body>
</html>